extends layout

block content
    section(class="authentication-navigation")
        div(class="gridContent-3t3OFU")
            h1 #{title}
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec quis mi eu metus vestibulum lacinia. Duis sagittis ligula sed fermentum vestibulum. Nulla et purus sed est tristique luctus. Ut rutrum, dolor nec dignissim aliquam, ipsum ex tincidunt nisi, et sollicitudin massa turpis sit amet purus.
            div(class="buttons-container")
                a(class="login-btm" href="/user/login") Login
                a(class="register-btn" href="/user/register") Register